.catalog {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(1,1fr);
  justify-content: space-between;
  width: 944px;
  padding-top: 50px;

  &__card {
    margin-bottom: 50px;
  }
}
