.catalog {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: space-between;
  justify-items: center;
  padding: 50px 40px 0;

  @media (min-width:680px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
  }
  @media (min-width:880px) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2,1fr);
  }

  &__card {
    margin-bottom: 50px;
  }
}
